<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.rt.acy.locapic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />
	
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<activity
            android:name="fr.rt.acy.locapic.camera.CameraActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        
		<activity
            android:name="fr.rt.acy.locapic.camera.FastSettingsActivity"
			android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:label="@string/title_activity_fast_settings" >
        </activity>
        
        <activity
            android:name=".PreferencesActivity"
            android:label="@string/app_name" >
        </activity>
		
		<activity
		    android:name="fr.rt.acy.locapic.gps.LocStatsActivity"
		    android:label="@string/app_name" >
            <!--intent-filter>
                <action android:name="fr.rt.acy.locapic.gps.LocStatsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter-->
		</activity>
		
		<activity
		    android:name="fr.rt.acy.locapic.gps.TrackStatsActivity"
		    android:label="@string/app_name" >
		</activity>

        <service android:name="fr.rt.acy.locapic.gps.TrackService"
  			android:label="Tracking service"
  			android:icon="@drawable/ic_launcher"
  			android:enabled="true"
  			android:exported="false"
  			android:permission="android.permission.ACCESS_FINE_LOCATION" >
		</service>
		
    </application>

</manifest>
